@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: black;
    margin: 0;
    padding: 0;
  }

  p + p {
    margin-top: 12px;
  }

  a {
    text-decoration: underline;
    color: lightgoldenrodyellow;
  }

  a:hover {
    text-decoration: none;
  }
}
